/build/
build/
build/*
/build/*

compile_commands.json
compile_flags.txt
.vscode/
.vscode/*

.clangd/
.clangd/*

.cache/
.cache/*

*.gfs

*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.out
*.app
